---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CategoryNavBar from "../../components/CategoryNavBar.astro";

const allTripReports = await Astro.glob("../../pages/tripReports/*.md");
const allPoetry = await Astro.glob("../../pages/poetry/*.md");
const allBio = await Astro.glob("../../pages/autobio/*.md");
---

<BaseLayout>
    <CategoryNavBar page="all" />
    <div class="container py-2" style="min-height:100vh">
        <ul>
            {
                allTripReports.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>

        <ul>
            {
                allPoetry.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>

        <ul>
            {
                allBio.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
