---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CategoryNavBar from "../../components/CategoryNavBar.astro";
import BlogMoreSection from "../../components/BlogMoreSection.astro";
import "./blog-styles.css";

const allPoetry = await Astro.glob("../../pages/poetry/*.md");

const lowerRows = [];
for (let i = 3; i < allPoetry.length; i++) {
    lowerRows.push(allPoetry[i]);
}
---

<BaseLayout>
    <CategoryNavBar />
    <div class="blog-grid-container container mx-auto">
        <div class="jumbo-card display-cards">
            <a class="card-links" href={allPoetry[0].url}>
                <div class="card card border-0">
                    <img
                        src={allPoetry[0].frontmatter.image.url}
                        class="card-img-top jumbo-img"
                        alt="Card Thumbnail"
                    />
                    <div class="img-overlay mb-2 px-3">
                        <h4 class="card-title pt-1">
                            {allPoetry[0].frontmatter.title}
                        </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="display-cards">
            <a class="card-links" href={allPoetry[1].url}>
                <div class="card border-0">
                    <img
                        src={allPoetry[1].frontmatter.image.url}
                        class="card-img-top"
                        alt="Card Thumbnail"
                    />
                    <div class="img-overlay mb-2 px-2">
                        <h5 class="card-title pt-1">
                            {allPoetry[1].frontmatter.title}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="display-cards">
            <a class="card-links" href={allPoetry[2].url}>
                <div class="card border-0">
                    <img
                        src={allPoetry[2].frontmatter.image.url}
                        class="card-img-top"
                        alt="Card Thumbnail"
                    />
                    <div class="img-overlay mb-2 px-2">
                        <h5 class="card-title pt-1">
                            {allPoetry[2].frontmatter.title}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container mt-3">
        <h3>Poetry</h3>
        <BlogMoreSection content={allPoetry} />
    </div>
</BaseLayout>
