---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CategoryNavBar from "../../components/CategoryNavBar.astro";
import "./blog-styles.css";

const allTripReports = await Astro.glob("../../pages/tripReports/*.md");

const lowerRows = [];
for (let i = 0; i < allTripReports.length; i++) {
    lowerRows.push(allTripReports[i]);
}
---

<BaseLayout>
    <CategoryNavBar page="TR" />
    <div class="blog-grid-container container mx-auto">
        <div class="jumbo-card display-cards">
            <a class="card-links" href={allTripReports[0].url}>
                <div class="card card border-0">
                    <img
                        src={allTripReports[0].frontmatter.image.url}
                        class="card-img-top jumbo-img"
                        alt="Card Thumbnail"
                    />
                    <div class="img-overlay mb-2 px-3">
                        <h4 class="card-title">
                            {allTripReports[0].frontmatter.title}
                        </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="display-cards">
            <a class="card-links" href={allTripReports[1].url}>
                <div class="card border-0">
                    <img
                        src={allTripReports[1].frontmatter.image.url}
                        class="card-img-top"
                        alt="Card Thumbnail"
                    />
                    <div class="img-overlay mb-2 px-2">
                        <h5 class="card-title pt-1">
                            {allTripReports[1].frontmatter.title}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="display-cards">
            <a class="card-links" href={allTripReports[2].url}>
                <div class="card border-0">
                    <img
                        src={allTripReports[2].frontmatter.image.url}
                        class="card-img-top"
                        alt="Card Thumbnail"
                    />
                    <div class="img-overlay mb-2 px-2">
                        <h5 class="card-title pt-1">
                            {allTripReports[2].frontmatter.title}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container mt-3">
        <div class="px-2 pb-1">
            <h3>Trip Reports</h3>
            <strong>Content will be redundant until I post more reports</strong>
        </div>
        <!-- Don't forget to refactor this section to use BlogMoreSection -->
        <div class="row">
            {
                lowerRows.map((post) => (
                    <div class="col-md-4 col-sm-12">
                        <a class="card-links" href={post.url}>
                            <div class="card card border-0 mx-auto indexCards">
                                <img
                                    src={post.frontmatter.image.url}
                                    class="card-img-top"
                                    alt="Card Thumbnail"
                                />
                                <div class="card-body py-2">
                                    <h5 class="card-title pt-1">
                                        {post.frontmatter.title}
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</BaseLayout>
