---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
const allTripReports = await Astro.glob("../pages/tripReports/*.md");
const allPoetry = await Astro.glob("../pages/poetry/*.md");
const allBio = await Astro.glob("../pages/autobio/*.md");
---

<BaseLayout>
    <div class="container py-2" style="height:50rem">
        <h2 class="text-center">Blog Posts</h2>
        <p class="text-center">Check out my self-published posts!</p>
        <h3>Trip Reports</h3>
        <ul>
            {
                allTripReports.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
        <h3>Poetry</h3>
        <ul>
            {
                allPoetry.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
        <h3>My Story</h3>
        <ul>
            {
                allBio.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
