---
import BaseLayout from "../layouts/BaseLayout.astro";
import Carousel from "../components/Carousel.astro";
const pageTitle = "Lucas Asher";
const allTripReports = await Astro.glob("../pages/tripReports/*.md");
const allPoetry = await Astro.glob("../pages/poetry/*.md");
const allAutoBio = await Astro.glob("../pages/autobio/*.md");

allTripReports.sort(function (a, b) {
	var c = new Date(a.frontmatter.pubDate);
	var d = new Date(b.frontmatter.pubDate);
	return c - d;
});
allTripReports.reverse();

allPoetry.sort(function (a, b) {
	var c = new Date(a.frontmatter.pubDate);
	var d = new Date(b.frontmatter.pubDate);
	return c - d;
});
allPoetry.reverse();
---

<BaseLayout>
	<!-- Top Block -->
	<div class="purple container pt-1 pb-3">
		<h1 class="text-center mt-0 mb-1">{pageTitle}</h1>
		<h5 class="text-center mb-3">Author, mountaineer, and web developer</h5>
		<Carousel />
	</div>
	<!-- TR Block -->
	<h3 class="text-center mt-3">Trip Reports</h3>
	<div class="container py-2 text-center">
		<div class="row justify-content-evenly align-items-start">
			<div class="col-md-6 col-sm-12">
				<a class="card-links" href={allTripReports[0].url}>
					<div class="card card border-0 mx-auto indexCards">
						<img
							src={allTripReports[0].frontmatter.image.url}
							class="card-img-top"
							alt="Card Thumbnail"
						/>
						<div class="card-body py-2">
							<h5 class="card-title">
								{allTripReports[0].frontmatter.title}
							</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a class="card-links" href={allTripReports[1].url}>
					<div class="card card border-0 mx-auto indexCards">
						<img
							src={allTripReports[1].frontmatter.image.url}
							class="card-img-top"
							alt="Card Thumbnail"
						/>
						<div class="card-body py-2">
							<h5 class="card-title">
								{allTripReports[1].frontmatter.title}
							</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Poetry Block -->
	<div class="purple container py-3 text-center">
		<h3 class="text-center mb-3">Poetry</h3>
		<div class="row justify-content-evenly align-items-start">
			<div class="col-md-6 col-sm-12">
				<a class="card-links" href={allPoetry[0].url}>
					<div class="card card border-0 mx-auto mb-2 indexCards">
						<img
							src={allPoetry[0].frontmatter.image.url}
							class="card-img-top"
							alt="Post Thumbnail"
						/>
						<div class="card-body">
							<h5 class="card-title">
								{allPoetry[0].frontmatter.title}
							</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a class="card-links" href={allPoetry[1].url}>
					<div class="card border-0 mx-auto smallIndexCards">
						<img
							src={allPoetry[1].frontmatter.image.url}
							class="card-img-top"
							alt="Post Thumbnail"
						/>
						<div class="card-body">
							<h5 class="card-title">
								{allPoetry[1].frontmatter.title}
							</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- TR Block -->
	<h3 class="text-center mt-3">Other</h3>
	<div class="container py-2 text-center">
		<div class="row justify-content-evenly align-items-start">
			<div class="col-md-6 col-sm-12">
				<a class="card-links" href={allAutoBio[0].url}>
					<div class="card card border-0 mx-auto indexCards">
						<img
							src={allAutoBio[0].frontmatter.image.url}
							class="card-img-top"
							alt="Post Thumbnail"
						/>
						<div class="card-body py-2">
							<h5 class="card-title">
								{allAutoBio[0].frontmatter.title}
							</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</BaseLayout>
<style>
	.card-links {
		text-decoration: none;
	}
	.indexCards {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		.tripReportCards {
			width: 100%;
		}
	}
</style>
