---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Climbed {frontmatter.climbDate}</p>
    <p>{frontmatter.blurb}</p>
    <img width="25%" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <slot />
</BaseLayout>
